<h1>{{pageTitle}}</h1>
<form (ngSubmit)="save()" #movieEditForm="ngForm">
    <div>
        <div class="form-group">
            <label for="movieTitle">Movie Name:</label>
            <input 
                type="text" 
                class="form-control"
                name="title" 
                id="movieTitle" 
                [(ngModel)]="l_title"
                #title="ngModel"
                required/>
        </div>
        <validation-message
            [target]="title"
            [messages]=
                "{
                required: 'Movie Title is required'
                }">
        </validation-message>



        <div class="form-group">
            <label for="movieYear">Movie Year:</label>
            <input 
                list="years" 
                class="form-control" 
                name="movie_yr" 
                id="movieYear" 
                [(ngModel)]="l_year"
                #movie_yr = "ngModel"
                pattern="(?:(?:19|20)[0-9]{2})"
                required/>
            <datalist id="years">
                <option *ngFor="let year of years" value={{year}}>
            </datalist>
        </div>
        <validation-message
            [target]="movie_yr"
            [messages]=
                "{
                required: 'Movie Year is required',
                pattern: 'Movie Year is not valid'
                }">
        </validation-message>



        <div class="form-group">
            <label for="imagePath">Movie Image Path:</label>
            <input 
                type="text"
                name="path"
                class="form-control" 
                id="imagePath" 
                [(ngModel)]="l_imagePath"
                #path="ngModel"
                pattern="[a-z0-9\/-_:.]*.(jpg|jpeg|png|gif)"
                required/>
        </div>
        <validation-message
            [target]="path"
            [messages]=
                "{
                required: 'Movie Path is required',
                pattern: 'Movie Path is not valid'
                }">
        </validation-message>



        <button 
        type="submit" 
        class="btn btn-primary btn-block btn-lg" 
        [disabled]="!movieEditForm.form.valid"
        >Save</button>
        <button type="button" class="btn btn-default btn-block btn-lg" (click)="returnToList('No Edits Made')">Return To List</button>
    </div>

</form>