<h1>Movie Database</h1>
<button type="button" class="btn btn-primary pull-right" routerLink="add">
	Add Movie
</button>
<br><br>
<div *ngIf="movieNumber > 0">
	<div class="media" *ngFor="let movie of movies, let index = index">
		<span class="media-left">
			<span *ngIf=(movie.imagePath.trim())>
				<img [src]="movie.imagePath" alt="{{ movie.title }}">
			</span>
			<span *ngIf=!(movie.imagePath.trim())>
				<img src="images/blank.jpg" alt="{{ movie.title }}">
			</span>
		</span>
		<div class="media-body">
			<div>
				<h4 class="media-heading">
					{{ movie.title }} ({{ movie.year }})
				<sup>
					<i	class="glyphicon glyphicon-edit" routerLink="edit/{{movie.id}}"></i>
					<i 	class="glyphicon glyphicon-trash" (click)="delete(movie,index)"></i>
				</sup>
				</h4>
			</div>
			<rating [model]="movie" (click)="updateRating(movie)" ></rating>
		</div>
	</div>
</div>
<div *ngIf="movieNumber == 0" class="well">
	There are no movies in the database.
</div>
