.media-left img {
	width: 100px;
}

.glyphicon {
	font-size: 11px;
	padding-left: 5px;
	top: 4px;
	opacity: 0.3;
}

.glyphicon:hover {
	opacity: 0.9;
}

.glyphicon-edit {
	color: darkslateblue;
}


.glyphicon-trash {
	color: red;
}
