<div class="container">
	<!--
	<header class="l-header v-center-parent">
		<ul class="top-menu disable-link-styles">
			<li><a routerLink="">Movie Database</a></li>
			<li><a routerLink="add">Add Movie</a></li>
		</ul>
	</header>
	-->

	<!--
	<movie-list></movie-list>
	<movie-editor></movie-editor> -->
	<router-outlet></router-outlet>
</div>