<span class="rating">
    <span class="glyphicon" *ngFor="let value of [1,2,3,4,5]"
        [ngClass]="{ 'glyphicon-star': obj.rating >= value, 'glyphicon-star-empty': (obj.rating||0) < value }"
        (click)="obj.rating = value"></span>
    <span class="badge">{{obj.rating || 0}}/5</span>
</span>