<div *ngIf="target && target.errors && target.touched">
    <div *ngFor="let key of errors" class="alert alert-danger">
        <span class="glyphicon glyphicon-warning-sign"></span>
        {{ messages[key] || key }}
    </div>
</div>